{% extends 'flatpages/default.html' %}

{% block title %}
messages
{% endblock title %}

{% block content %}
<h1>Доска объявлений нашего MMORPG</h1>
<p>Здесь вы можете узнать о последних новостях, обсуждениях и предложениях в нашем многопользовательском ролевом игровом проекте.</p>
<hr>
    {% if perms.board.add_product %}
    <a href="{% url 'message_create' %}">Добавить объявление</a>
    {% endif %}
    {% if messages %}
    <table width="100%" style="margin-top: 35px">
            <tr>
                <td><u>Заголовок</u></td>
                <td><u>Текст объявления</u></td>
{% if perms.board.add_product %}
                <td><u>Действие</u></td>
{% endif %}
            </tr>
    {% for message in messages %}
            <tr>

                <td>{{ message.title|truncatewords:5}}</td>
                <td>{{ message.content|truncatewords:15}}</td>

                   <td> {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.board.change_message %}
            <a href="{% url 'message_edit' pk=message.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.board.delete_message %}

            <a href="{% url 'message_delete' message.id %}">Удалить</a>
                {% endif %}
                </td>
            </tr>
    {% endfor %}
        </table>
    {% else %}

       <h2>Объявлений нет!</h2>
    {% endif %}

        {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
