{% extends 'default.html' %}

{% block title %}Ads{% endblock title %}

{% block content %}
    <br><br>
    {% if messages %}
        {% for message in messages %}
            <a href="/message/{{ message.id }}" style="font-size: 20px;"><b>{{ message.title }}</b></a><br>
            <span style="font-size: 12px;"><b>Автор:  {{ message.author }} |
                Дата публикации: {{ message.date_create|date:'d.M.Y' }} г.</b></span><br><br>

<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% if cont_obj %}
  <h3>Succesfully uploaded : {{cont_obj.title}}</h3>
  <img src="{{ cont_obj.message_media.url}}" alt="connect" style="max-height:300px">
{% endif %}

        {% endfor %}
    {% else %}
        <br><br>
        <h2>Публикаций нет!</h2>
    {% endif %}

    {% if user.is_authenticated %}
        <br><br><br>
        <a class="btn btn-secondary" href="{% url 'message_create' %}" role="button">Добавить нового героя</a>
    {% endif %}
{% endblock content %}