{% extends 'flatpages/default.html' %}


{% block title %}
messages.title
{% endblock title %}

{% block content %}
    <br><br>
        <h2>{{ messages.title }}</h2>
        <span>{{ messages.content }}<br></span>
<hr>
    <span>| Автор: {{ messages.author }}</span>
    <span>| Категория героя: {{ messages.get_category_display }}</span>
    <span>| Дата создания: {{ messages.date_create|date:'d-M-Y H:i' }}</span>

    <a class="btn btn-secondary" href="{% url 'index' %}" role="button">Закрыть</a>
    <a class="btn btn-secondary" href="{% url 'message_edit' messages.id %}" role="button">Редактировать</a>
    <a class="btn btn-danger" href="{% url 'message_delete' messages.id %}" role="button">Удалить</a>
    <br><br>
<hr>
<br>

    {% if user.is_authenticated %}
    <br><br>
        {% if respond == "Откликнулся" %}
            <span style="color:red">Вы откликнулись на это объявление.</span><br>
            <a href="{% url 'response' %}">Посмотреть свои отклики</a>
        {% elif respond == "Мое_объявление" %}
            <span style="color:red">Вы не можете откликнуться на свое объявление.</span><br>
        {% else %}
            <a class="btn btn-secondary" href="{% url response_id %}" role="button">Откликнуться</a>
        {% endif %}
    {% endif %}
    <br><br>

{% endblock content %}