{% extends 'flatpages/default.html' %}

{% block content %}
<h2>Мои отклики</h2>
<hr>
{% if response %}
<table>
    <thead>
        <tr>
            <th>Автор</th>
            <th>Описание</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for response in responses %}
        <tr>
            <td>{{ response.author }}</td>
            <td>{{ response.text }}</td>
            <td>{{ response.status.accepted|yesno:"Принят,Не принят" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}