{% extends 'flatpages/default.html' %}

{% block title %}
responses
{% endblock title %}


{% block content %}
<h2>Мои отклики</h2>
<hr>

<form action="" method="get">
    {{ filterset.form.as_p }}
    <button type="submit">Поиск</button>
</form>


{% if responses %}
<table>
    <thead>
        <tr>
            <th>Автор</th>
            <th>Описание</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for re in responses %}
        <tr>
            <td>{{ re.author }}</td>
            <td>{{ re.text|truncatechars:20 }}</td>
            <td>{{ re.status.accepted|yesno:"Принят,Не принят" }}</td>
        <td style="width: 200px"><button type="submit"><a href={% url 'response_delete' re.id%}> Удалить </a></button></td>
        {% if re.status == False %}
            <td style="width: 250px"><button type="submit"><a href={% url 'response_status' re.id %}>Принять</a></button> </td>
            {% else %}
            <td style="width: 250px">Отклик принят!</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>Откликов нет!</h2>
{% endif %}
    </tbody>
{% endblock %}